/* In the style sheet, enable responsive behavior for the image by setting the width of the img element to 100% and 
the height to auto (or vice-versa). This is the easiest way to maintain the image aspect ratio. */
.hero img {
  width: 100%;
  height: auto;
}
/* Or you can use object-fit with set image containers. Just be mindful of the art direction with the responsive results. */
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}